.votacion {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .votacion__mesa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .votacion__jugador {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    color: #fff;
  }

  
  
  .votacion-jugador.jugador {
    /* Estilo para jugadores */
  }
  
  .votacion-jugador.espectador {
    /* Estilo para espectadores */
  }
  