.votacion {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .votacion__mesa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    flex-direction: row;
  }


  
  /* .votacion__jugador {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    color: #fff;
  } */

  .card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;
    color: #fff;
  }

  .votacion__acciones {
   display: flex;
   justify-content: start;
  color: #fff;
  }

  .btn-revelar {
    position: absolute;
    display: block;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px 24px 16px 24px;
    font-size: 1rem;
    color: var(--blanco);
    background-color: var(--MoradoMedio);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: 600;
    height: 40px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
  }

  .btn-revelar:disabled{
    opacity: 0;
    cursor: not-allowed;
    background: var(--FondoDisabled);
    color: var(--letraDisabled);
  }
  
  .btn-revelar:hover {
    box-shadow: 0px 0px 6px 0px #BDBDFF99 inset;
    box-shadow: 0px 1px 20px 0px #BDBDFF99;
  }
  
  .resultados {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .resultados h2 {
    margin-bottom: 10px;
  }
  
  .resultados ul {
    list-style: none;
    padding: 0;
  }
  
  .resultados ul li {
    margin-bottom: 5px;
  }
  
  
  .votacion-jugador.jugador {
    /* Estilo para jugadores */
  }
  
  .votacion-jugador.espectador {
    /* Estilo para espectadores */
  }
  