@import url(../../../index.css);

.circle{
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle__grande {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 525px;
  height: 300px;
  border-radius: 276px;
  opacity: 0px;
  border: 2px solid var(--MoradoMedio);
  box-shadow: 0px 0px 20px 0px #BDBDFF33 inset;
  box-shadow: 0px 0px 15px 0px var(--MoradoMedio);
}

.circle__mediano{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 483px;
  height: 260px;
  border-radius: 276px;
  opacity: 0px;
  border: 2px solid #6429CD;
  box-shadow: 0px 0px 20px 0px #BDBDFF99 inset;
  box-shadow: 0px 12px 24px 0px var(--MoradoMedio);
}

.circle__pequeno{
  width: 453px;
  height: 237px;
  border-radius: 276px;
  opacity: 0px;
  background: #1F0D3F99;
  border: 1px solid var(--MoradoMedio);
  box-shadow: 0px 3px 6px 0px var(--negro);
  box-shadow: 0px 4px 4px 0px var(--negro);
}

  