@import url(../../../index.css);

.headerMesa {
    width: 100%;
    padding: 40px 80px;
}
  
.headerMesa__content {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    align-items: center;
}

.headerMesa__text{
    font-size: 26px;
    color: var(--blanco);
    line-height: 26px;
    margin-left: 170px;
}